@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');
    
    * {
        margin:0;
        padding:0;
        list-style:none;
        box-sizing: border-box;
        font-style: normal;
        letter-spacing: 0.5px;
    }
    
    :root {
        --primary--color: #f9f1e7;
        --secondary--color:#f4f5f7;
        --btn-color:#bc9259;
        --text-color-black: #333;
    }
    
    a:hover,
    a:focus,
    a:active  {
        text-decoration: none;
    }

    body, html {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    label {
      margin: 0.5rem 0;
      display: block;
  }

    input,
    textarea,
    button {
      font-family: 'Poppins', sans-serif;
      color: var(--text-color-black);
      border: none;
      font-size: 1rem;
    }

    textarea:focus-visible, 
    input:focus-visible,
    select:focus-visible {
      outline: none;
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: var(--text-color-black);
      }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1rem;
    }
      
    p {
        font-weight: 300;
        font-size: 1rem;
        color: var(--text-color-black);
    }

    a {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--text-color-black);
        display: inline-block;
        font-size: 1rem;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .l-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -20px;
      margin-left: -20px;
    }

    .l-clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

  /* l-grid */
  .l-grid-1,
  .l-grid-2,
  .l-grid-3,
  .l-grid-4,
  .l-grid-5,
  .l-grid-6,
  .l-grid-7,
  .l-grid-8,
  .l-grid-9,
  .l-grid-10,
  .l-grid-11,
  .l-grid-12,
  .l-grid-third {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
  } 
  
  .backtotop {
    position: fixed;
    font-size: 20px;
    bottom: 30px;
    right: 30px;
    display: none;
    background: #e89f71;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    z-index: 10;
}

.backtotop:hover {
    background: #efb38d;
    transition: all 0.5s;
}
  

  .l-one,
  .l-one-third,
  .l-two-thirds,
  .l-one-fourth,
  .l-half {
      width: 100%;
  }

  .l-pd-1 {
    padding: 1rem;
  }

  .l-pd-top-bottom-1 {
    padding: 1rem 0;
  }

  .l-pd-top-bottom-3 {
    padding: 3rem 0;
  }

  .l-mg-top-bottom-3 {
    margin: 3rem 0;
  }

  .l-pd-top-bottom-4 {
    padding: 4rem 0;
  }

  .l-mg-top-bottom-4 {
    margin: 4rem 0; 
  }

  .l-pd-top-3 {
    padding-top: 3rem;
  }

  .l-pd-bottom-3 {
    padding-bottom: 3rem;
  }

  .l-mg-top-4 {
    margin-top: 4rem;
  }

  .l-mg-top-3 {
    margin-top: 3rem;
  }

  .l-mg-bottom-3 {
    margin-bottom: 3rem;
  }

  .l-pd-top-4 {
    padding-top: 4rem;
  }

  .l-pd-bottom-4 {
    padding-bottom: 4rem;
  }

  .l-pd-top-2 {
    padding-top: 2rem;
  }

  .l-pd-bottom-2 {
    padding-bottom: 2rem;
  }

  .l-pd-top-1 {
    padding-top: 1rem;
  }

  .l-pd-bottom-1 {
    padding-bottom: 1rem;
  }

  .l-mg-top-1 {
    margin-top: 1rem;
  }

  .l-mg-bottom-1 {
    margin-bottom: 1rem;
  }

  .l-mg-top-2 {
    margin-top: 2rem;
  }

  .l-mg-bottom-2 {
    margin-bottom: 2rem;
  }

  .l-mg-top-3 {
    margin-top: 3rem;
  }

  .l-mg-bottom-3 {
    margin-bottom: 3rem;
  }

  .l-pd-right-1 {
    padding-right: 1rem;
  }

  .l-pd-left-1 {
    padding-left: 1rem;
  }

  .l-mg-right-1 {
    margin-right: 1rem;
  }

  .l-mg-left-1 {
    margin-left: 1rem;
  }

  .l-align-center {
    text-align: center;
  }

  .l-mg-top-2 {
    margin-top: 2rem;
  }

  .l-align-right {
    text-align: right;
  }

  .l-align-left {
    text-align: left;
  }

  .l-container {
      padding: 0 25px;
      max-width: 1600px;
      margin: 0 auto;
  }

  .l-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

  .l-cart,
  .l-content-item {
      display: flex;
      align-items: center;
      justify-content: center;

  }

  /* header */

  .l-wrap-open {
    background: url(../img/leo-bg.jpg) no-repeat center;
    background-size: cover;
  }

  .l-logo {
    float: left;
}

  .l-logo > a > img {
      max-width: 100px;
  }

  .l-menu {
    margin-right: auto;
    margin-left: auto;
    float: right;
    padding-top: 15px;
  }

  .navigation > ul > li {
      display: inline-block;
}

  .navigation > ul > li > a {
      padding: 0 3rem 0 0;
  }

  .navigation > ul > li:hover a {
    color: #e89f71;
  } 

  .l-home nav li:first-child a, 
  .l-dining nav li:first-child + li a, 
  .l-living nav li:first-child + li + li a, 
  .l-bedroom nav li:first-child + li + li + li a, 
  .l-about nav li:first-child + li + li + li + li a,
  .l-contact nav li:first-child + li + li + li + li + li a {
    color: #e89f71 !important;
  }

  nav form .input-form input[type="text"] {
    margin-bottom: 0 !important;
  }

  .l-add-cart {
    padding-top: 12rem;
  }

  .l-add-cart > a {
    background: #fff;
    padding: 0.6rem 2.5rem;
    display: inline-block;
    color: #e89f71;

  }

  .l-cart-wishlist,
  .l-cart-user,
  .l-cart-search {
    padding-right: 1.5rem;
  }

  .l-cart-item > a,
  .l-cart-item {
    position: relative;
  }

  .l-cart-item > a > span {
    background: #e89f71;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    position: absolute;
    top: -7px;
    right: -12px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    font-size: 0.7rem;
  }

  .l-cart-item-list {
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 1rem;
}

.menu-triger {
    height:50px;
    line-height:50px;
    font-weight:bold;
    font-size:20px;
    text-transform:uppercase;
    display:none;
    background: url(../img/nav-icon.png) no-repeat right 14px;
    text-align:right;
    cursor:pointer;
    color:#e89f71;
    padding-right:25px;
}

  /* l-banner */
  .l-banner {
    padding-top: 5rem;
  }

  .l-banner button.owl-prev span {
    position: absolute;
    right: 255px;
    top: -70px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #e89f71;
    color: #fff;
    z-index: 9999;
    border-radius: 100%;
  }

  .l-banner button.owl-prev span:hover {
    background: #efb38d;
    transition: all 0.5s;
  }

  .l-banner button.owl-prev span:before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    position: absolute;
    right: 19px;
    top: 0;
  }

  .l-banner button.owl-next span {
    position: absolute;
    right: 195px;
    top: -70px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #e89f71;
    color: #fff;
    z-index: 9999;
    border-radius: 100%;
  }

  .l-banner button.owl-next span:hover {
    background: #efb38d;
    transition: all 0.5s;
  }

  .l-banner button.owl-next span:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    position: absolute;
    right: 21px;
    top: 0;
  }

  /* l-content */

  .l-content {
    background: #fff;
    box-shadow: 0 0px 80px 0px rgb(0 0 0 / 5%);
  }

  .l-content-item i {
    font-size: 30px;
  }

  .l-content-item-text span {
    font-size: 1.2rem;
  }

  .l-content .l-content-item {
    justify-content: inherit;
  }

  /* l-product */
  
  .l-product .l-row {
    margin-bottom: 40px;
  } 

  .l-recent-product .l-row {
    margin-bottom: 0;
  } 

  .l-product-detail {
    background: var(--secondary--color);
  }

  .l-product-description {
    padding: 0.5rem 0;
  }

  .l-product-detail > .l-product-price > .l-price > .l-new > bdi {
    font-weight: 600;
  }

  .l-product-detail > .l-product-price > .l-price > .l-old > bdi,
  .l-product-price > .l-price > .l-old > bdi {
    text-decoration: line-through;
    color: #b0b0b0;
  }

  .l-discount {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.l-discount-old {
  background: #e97171;
}

.l-discount-new {
  background: #2ec1ac;
}

.l-show-more > a {
  padding: 0.7rem 3rem;
  color: #e89f71;
  border: 1px #e89f71 solid;
  transition: .5s;
  border-radius: 100px;
}

.l-show-more > a:hover {
  background: #e89f71;
  transition: .5s;
  color: #fff;
}

figure {
  padding: 0; 
  height: auto; 
  position: relative; 
  display: block; 
  cursor: pointer; 
  overflow: hidden;
}

figure:hover figcaption ,
figure:hover .l-product-detail {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); 
  filter: alpha(opacity=100); 
  opacity: 1; 
  top: 0;
}

figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); 
  filter: alpha(opacity=0); 
  opacity: 0; 
  position: absolute; 
  left: 0; 
  height: 100%;
  width: 100%; 
  background: rgba(0,0,0,.5); 
  color: #fff;
}

figure img {
  height: 450px;
  object-fit: cover;
}

figcaption .l-links a { 
  color: #fff; 
  padding: 4px 10px; 
  text-decoration: none;
}


/* l-room */
.l-room {
  background: var(--primary--color);
}

.l-room .l-room-description h4 {
  font-size: 3.5rem;
  line-height: 70px;
}

.l-room .l-room-description a,
.l-choose-detail a,
.l-contact form .input-form button,
.l-cart-buttons a,
.l-cart-coupon .l-submit-button,
.l-process-checkout a,
.l-place-order a,
.l-login-detail button,
.l-create-new a {
  background: #e89f71;
  color: #fff;
  padding: 0.7rem 2.5rem;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.5s;
}

footer form .input-form button:hover,
.l-room .l-room-description a:hover,
.l-choose-detail a:hover,
.l-contact form .input-form button:hover,
.l-cart-buttons a:hover,
.l-cart-coupon .l-submit-button:hover,
.l-process-checkout a:hover,
.l-place-order a:hover,
.l-login-detail button:hover,
.l-create-new a:hover,
.l-single-cart-item .cd-add-to-cart:hover {
    background: #efb38d;
    transition: all 0.5s;
}

.l-cart-buttons button {
  background: #e89f71;
  color: #fff;
  padding: 0.7rem 2.5rem;
  margin-right: 1rem;
  opacity: .5;
  border-radius: 100px;
  cursor: not-allowed;
}

.l-cart-coupon .l-submit-button {
  border-radius: 0 100px 100px 0;
}

input#coupon_code {
  border-radius: 100px 0 0 100px;
}

.l-cart-coupon .input-form input[type="text"] {
  padding: 0.7rem;
}

.l-cart-coupon .input-form {
  width: 50%;
}

.l-cart-coupon .input-text {
  background: none;
}

.l-room-img {
  overflow: hidden;
  border-radius: 50px 0 50px 0;
}

/* footer */

footer {
  padding: 4rem 0;
}

.l-footer-wrap {
  border-top: 1px #d8d8d8 solid;
  padding-top: 3rem;
}

.l-footer-discription {
  padding: 15px 0;
}

.l-footer-wrap .l-flex-wrap {
  padding-bottom: 0.5rem;
}

.l-footer-link a {
  color: #616161;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
}

.l-footer-catagory {
  padding-bottom: 15px;
}

.l-footer-quicklink-list ul li {
  line-height: 35px;
}

.l-footer-quicklink-list ul li a {
  transition: all 0.4s;
}

.l-footer-quicklink-list ul li a:hover {
  color: #e89f71;
  transition: all 0.4s;
}

footer form .input-form {
  display: flex;
  flex: 1;
}

footer .l-footer-wrap .l-row .l-grid-2 {
  background: none;
  padding: 0;
}

footer form .input-form input[type="text"] {
  margin-bottom: 0 !important;
}

footer form .input-form button {
  border-radius: 0 !important;
  margin-top: 0 !important;
}

form .input-form input[type="text"],
form .input-form input[type="password"],
.l-login-detail input.input-text {
  padding: 0.6rem 1rem;
  border-radius: 0;
  width: 100%;
  border: 1px #d8d8d8 solid;
}

form .input-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px #d8d8d8 solid;
}

.l-contact form .input-form input[type="text"] {
  margin-bottom: 30px;
}

.l-contact form .input-form button {
  font-size: 1rem;
  margin-top: 1rem;
}

footer form .input-form button {
  border: none;
  border-radius: 0;
  background: #e89f71;
  color: #fff;
  cursor: pointer;
  margin: 0;
}

footer form .input-form button {
  padding: 10px 15px 11px 15px !important;
}

form .input-form button {
  padding: 0.7rem 2.5rem;
  border: none;
  border-radius: 100px;
  background: #e89f71;
  margin-top: 1rem;
  color: #fff;
  cursor: pointer;
}

/* l-single */

.l-single bdi {
  font-size: 1.5rem;
}

.l-single .l-product-price {
  padding-top: 1rem;
}

.l-single-cart-item .cd-add-to-cart {
  padding: 0.7rem 2rem;
  display: block;
  text-align: center;
}

.l-single-cart-item {
  margin-top: 2rem;
}

.l-zoom-main {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr 10fr;
  grid-gap: 20px;
  grid-auto-rows: 15px;
}

.xzoom-thumbs {
  grid-row-start: 1;
  grid-row-end: 2;
}

.l-zoom-img {  
  grid-row: 1/2;
  grid-column: 2/3;
}

.xzoom-thumbs a {
  display: block;
}

.l-instock,
.l-sortby {
  margin-left: auto;
}

.l-instock span {
  font-size: 0.8rem;
}

.l-single-description input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.l-single-reviews h4 {
  font-weight: 100;
}

.l-sortby form {
  background: #e89f71;
    border-radius: 100px;
    padding: 0.7rem 2rem;
}

.l-sortby label {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #fff;
}

.l-sortby select {
  border: none;
  background: none;
  color: #fff;
  font-size: 0.9rem;
}

.accordion-wrapper {
  overflow: hidden;
}

.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
}

.accordion:last-child{
  margin-bottom: 0;
}

.l-single-detail-link a {
  font-size: 1.1rem;
}

.l-single-detail-link a:hover {
  text-decoration: underline;
}

.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  color: #333;
  border-radius: 100px;
}
.accordion-label:hover {
  background: #e89f71;
  color: #fff;
}
.accordion-label::after {
  content: "\f054";
  width: 16px;
  height: 16px;
  text-align: center;
  font-family: "Font Awesome 5 Free";
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4,57,94,1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input:checked + .accordion-label {
  background: #e89f71;
  color: #fff;
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}


/* l-about */
.l-about-choose .l-row {
  background: var(--primary--color);
  border-radius: 50px;
  margin-right: 0;
  margin-left: 0;
  align-items: center;
}

.l-about-choose .l-grid-2 {
  padding-right: 0;
  padding-left: 0;
}

.l-about-choose .l-row .l-grid-2 img {
  border-radius: 50px 0 0 50px;
}

.l-choose-detail h4 {
  font-size: 2rem;
  padding: 0 5rem;
}

.l-choose-detail a {
  margin: 1.5rem 1.5rem 5rem 5rem;
}

.l-services .l-grid-2.l-align-left {
  padding: 2rem;
}

.l-services img {
  box-shadow: 0 10px 30px 0px rgb(0 20 60 / 5%);
  border-radius: 50px 0;
}

.l-contact .l-row,
.l-login .l-row {
  margin-right: 0;
  margin-left: 0;
}

.l-contact .l-row .l-grid-2,
.l-login .l-row .l-grid-2,
.l-create-detail {
  margin-right: 0;
  margin-left: 0;
  background: #f4f4f4;
  padding: 3rem;
}

.l-contact .l-row .l-grid-2.l-contact-detail,
.l-login .l-row .l-grid-2.l-create-new {
  background: var(--primary--color);
}

.l-contant-detail-icon .l-flex-wrap {
  padding: 0.6rem 0;
}

.l-contant-detail-icon .l-flex-wrap p {
  font-weight: 500;
}

.l-contant-detail-icon .l-flex-wrap i {
  font-size: 1.2rem;
}

/* l-wishlist */
.l-wishlist table {
  border-top: 0;
  border-collapse: collapse;
  text-align: center;
  border-radius: 0;
  border-color: #ddd;
  width: 100%;
}

table tbody th, table tbody td, table thead th {
  border-right: 1px solid #dedede;
}

.l-wishlist td.l-product-thumbnail {
  width: 100px;
  padding: 1.5rem;
}

.l-wishlist td.l-product-thumbnail a {
  display: block;
}

.l-wishlist td.l-remove a {
  color: red;
}

.l-wishlist table th,
.l-wishlist table td {
  border-top: 1px solid #ddd;
  padding: 1rem;
  color: #333;
}

.l-wishlist table tr {
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

/* l-cart-total */
.l-cart-total {
  text-align: right;
}

.l-cart-total table tr,
.l-cart-total table th,
.l-cart-total table td {
  border: none;
}

.l-cart-total table {
  text-align: right;
}

.l-cart-total table td {
  width: 20%;
}

/* l-cheakout */
.l-checkout select {
  width: 100%;
  padding: 0.9rem 1rem;
  font-size: 1rem;
}

.l-checkout .input-form {
  padding-top: 1rem;
}

.l-checkout label {
  display: block;
}

ul.tabs {
  margin: 0; 
  padding: 0; 
  list-style: none; 
  border-bottom: 1px #e89f71 solid;
}

ul.tabs li {
  background: none; 
  color: #1b1d1f; 
  display: inline-block; 
  padding: 10px 20px; 
  cursor: pointer;
}

ul.tabs li.current {
  background: #e89f71; 
  color: #fff;
}

.tab-content {
  display: none; 
  background: #fff; 
  padding: 20px; 
  border-left: 1px #e89f71 solid; 
  border-right: 1px #e89f71 solid; 
  border-bottom: 1px #e89f71 solid; 
}

.tab-content.current{
  display: inherit;
}

.l-dashboard .tab-content {
  border: none;
}

.l-dashboard ul.tabs {
  padding-top: 2rem;
  border: none;
}

.l-dashboard ul.tabs li {
  display: block;
  padding: 1rem 2rem;
  border-bottom: 1px #fff solid;
  transition: all 0.4s;
}

.l-dashboard ul.tabs li:hover {    
  background: #e89f71;
  color: #fff;
  transition: all 0.4s;
}

.l-dashboard-tab .l-row {
  margin-right: 0;
  margin-left: 0;
}

.l-dashboard-tab .l-row .l-grid-3,
.l-dashboard-tab .l-row .l-grid-third {
  padding-right: 0;
  padding-left: 0;
}

.l-dashboard-tab .l-dashboard-left {
  background: #f4f4f4;
}

.l-user-info {
  padding: 2rem;
}

.l-user-info h2 {
  color:#e89f71;
}

.l-dashboard-right {
  padding: 0 5rem;
}

.l-dashboard-right a {
  text-decoration: underline;
}

.l-dashboard-right div#tab-2 a {
  border-left: 5px #e89f71 solid;
  text-decoration: none !important;
  color: #e89f71;
  padding-left: 0.5rem;
}

.l-save-detail {
  background: #f4f4f4;
  padding: 2rem;
  margin-top: 2rem;
}

.l-login-detail {
  background: #f4f4f4;
}

.l-info-section .l-info-icon i {
  font-size: 30px;
}

.l-info-section .l-info-content h5 {
  font-size: 1.2rem;
}

.l-create-detail {
  width: 50%;
  margin: auto;
  text-align: center;
}

.l-cart-search form .input-form button {
  border-radius: 0 100px 100px 0;
  padding: 10px 20px 11px 20px;
  transition: all 0.5s;
  margin-top: 0;
}

.l-cart-search form .input-form button:hover {
  background: #efb38d;
  transition: all 0.5s;
}

.l-cart-search form  input[type="text"] {
  border-radius: 100px 0 0 100px;
}

.l-cart-wishlist a i,
.l-cart-user a i {
  font-size: 1.3rem;
  color: #333;
}

.l-content-item {
  margin: 1rem;
  border: 1px #f4f4f4 solid;
  padding: 1rem;
}

  .l-grid-1 {
    width: 100%;
  }
  .l-grid-2 {
    width: calc(100% / 2);
  }
  .l-grid-3 {
    width: calc(100% / 3);
  }
  .l-grid-4 {
    width: calc(100% / 4);
  }
  .l-grid-5 {
    width: calc(100% / 5);
  }
  .l-grid-6 {
    width: calc(100% / 6);
  }
  .l-grid-7 {
    width: calc(100% / 7);
  }
  .l-grid-8 {
    width: calc(100% / 8);
  }
  .l-grid-9 {
    width: calc(100% / 9);
  }
  .l-grid-10 {
    width: calc(100% / 10);
  }
  .l-grid-11 {
    width: calc(100% / 11);
  }
  .l-grid-12 {
    width: calc(100% / 12);
  }
  .l-grid-third {
    width: calc(100% / 3 * 2);
  }

  /* add to cart */
.cd-add-to-cart {
  display: inline-block;
  padding: 1.2em 1.8em;
  background: #e89f71;
  border-radius: 100rem;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.cd-add-to-cart:hover {
  background: #e89f71;
  color: #fff;
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.cd-cart-container::before {
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.empty .cd-cart-trigger, .empty
.cd-cart {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
}

@media only screen and (min-width: 1170px) {
  .cd-cart-trigger,
  .cd-cart {
    bottom: 40px;
  }
}

.cd-cart-trigger {
  z-index: 3;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-cart-trigger::after, .cd-cart-trigger::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(https://cdn.onlinewebfonts.com/svg/img_333096.svg) no-repeat 0 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.cd-cart-trigger::after {
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cart-open .cd-cart-trigger::before {
  opacity: 1;
}
.cart-open .cd-cart-trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count {
  position: absolute;
  top: -20px;
  right: 5px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  -webkit-transition: -webkit-transform .2s .5s;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}

.cd-cart-trigger .count li {
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count li:last-of-type {
  visibility: hidden;
}

.cd-cart-trigger .count.update-count li:last-of-type {
  -webkit-animation: cd-qty-enter .15s;
  animation: cd-qty-enter .15s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
}

.cd-cart-trigger .count.update-count li:first-of-type {
  -webkit-animation: cd-qty-leave .15s;
  animation: cd-qty-leave .15s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
}

.cart-open .cd-cart-trigger .count {
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, 
  -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.empty .cd-cart-trigger .count {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

.cart-open .cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}

.cd-cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}

.cd-cart header, .cd-cart footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}

.cd-cart footer {
  padding: 0;
}

.cd-cart header, .cd-cart .body {
  opacity: 0;
}

.cd-cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6;
}

.cd-cart header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.cd-cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
}

.cd-cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}

.cd-cart .undo a {
  text-decoration: underline;
  color: #2b3e51;
}

.cd-cart .undo a:hover {
  color: #2c97de;
}

.cd-cart .undo.visible {
  opacity: 1;
  visibility: visible;
}

.cd-cart .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #e89f71;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}

.cd-cart .checkout:hover {
  background: #e89f71;
}

.cd-cart .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}

.cd-cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.cd-cart .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.cd-cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}

.cd-cart .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}

.cd-cart .body li::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .body li:not(:last-of-type) {
  margin-bottom: 20px;
}

.cd-cart .body li.deleted {
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: cd-item-slide-out .3s forwards;
  animation: cd-item-slide-out .3s forwards;
}

.cd-cart .body li.deleted.undo-deleted {
  -webkit-animation: cd-item-slide-in .3s forwards;
  animation: cd-item-slide-in .3s forwards;
}

.cd-cart .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
  animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-cart .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
  animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-cart .product-image {
  display: inline-block;
  float: left;
  width: 50px;
}

.cd-cart .product-image img {
  display: block;
}

.cd-cart .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}

.cd-cart .product-details::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart h3, .cd-cart .price {
  font-weight: bold;
}

.cd-cart h3 {
  width: 60%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cd-cart h3 a {
  color: #2b3e51;
}

.cd-cart h3 a:hover {
  color: #2c97de;
}

.cd-cart .price {
  float: right;
  width: 40%;
  text-align: right;
}

.cd-cart .actions {
  font-size: 1rem;
}

.cd-cart .actions::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .delete-item, .cd-cart .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-cart .delete-item {
  margin-right: 1em;
}

.cd-cart .delete-item:hover {
  color: #e94b35;
}

.cd-cart .quantity label {
  display: inline-block;
  margin-right: .3em;
  font-size: 1rem;
}

.cd-cart .select {
  position: relative;
}

.cd-cart .select::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}

.cd-cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  margin: 0;
  color: #808b97;
}

.cd-cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}

.cd-cart select::-ms-expand {
  display: none;
}

.cart-open .cd-cart .wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.cart-open .cd-cart header, .cart-open .cd-cart .body {
  opacity: 1;
}

.cart-open .cd-cart header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}

.cart-open .cd-cart .body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.cart-open .cd-cart .body li {
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cart-open .cd-cart .body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.cart-open .cd-cart .body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
  transition-duration: .55s;
}

.cart-open .cd-cart .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}

.cart-open .cd-cart .checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}

.cart-open .cd-cart .checkout:hover em {
  padding-right: 30px;
}

.cart-open .cd-cart .checkout:hover em::after {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .cd-cart .body li.deleted + li {
    -webkit-animation: cd-item-move-up .3s;
    animation: cd-item-move-up .3s;
  }
  .cd-cart .body li.undo-deleted + li {
    -webkit-animation: cd-item-move-down .3s;
    animation: cd-item-move-down .3s;
  }

  .cd-cart .checkout {
    font-size: 1.5rem;
  }

  .cd-cart .product-image {
    width: 90px;
  }

  .cd-cart .product-details {
    padding: 0.5rem 0 0 1rem;
    width: calc( 100% - 90px);
  }

  .cd-cart h3, .cd-cart .price {
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .l-banner button.owl-prev span {
    right: 100px;
  }
  
  .l-banner button.owl-next span {
    right: 40px;
  }
}  

@media only screen and (max-width: 1200px) {

  .navigation > ul > li > a {
    padding: 0 2rem 0 0;
  }

  .l-grid-4 {
    width: calc(100% / 2);
  }

  .l-product figure {
    margin-bottom: 40px;
  }

  .l-recent-product figure {
    margin-top: 40px;
  }

  .l-recent-product .l-pd-bottom-2 {
    padding-bottom: 0;
  }

  .l-product .l-row {
    margin-bottom: 0;
  }

  .l-product .l-mg-top-3 {
    margin-top: 0rem;
  }
  .l-room .l-grid-2 {
    width: calc(100% / 1);
  } 

  .l-room-description {
    margin-bottom: 3rem;
  }

  .l-footer-wrap .l-grid-2 {
    width: calc(100% / 1);
  }

  .l-footer-quicklink {
  padding: 2rem 0;
  }

  .l-choose-detail h4 {
  padding: 0 3rem;
  }

  .l-choose-detail a {
  margin: 1.5rem 0 3rem 3rem;
  }

  .l-banner button.owl-prev span {
  right: 100px;
  }

  .l-banner button.owl-next span {
  right: 40px;
  }

}

@media only screen and (max-width: 1090px) {
  .navigation > ul > li > a {
    padding: 0 1rem 0 0;
  }
}

@media only screen and (max-width: 992px) {
  .menu-triger {
    display: block;
  }

  .navigation {
    display: none;
  }

  .navs {
    display: block;
  }

  .l-menu {
    margin-right: auto;
    margin-left: auto;
    float: none;
    margin-top: -80px;
  }

  .l-logo {
    float: none;
  }

  .navigation > ul > li {
    display: block;
    padding: 1rem;
    border-bottom: 1px #fff solid;
  }

  .navigation > ul > li  a {
    color: #fff;
  }

  .navigation {
    background: #e89f71;
    margin-top: 50px;
  }

  .l-cart {
    padding: 1rem;
  }

  .l-menu form .input-form button {
    background: #222;
  }

  .l-cart-wishlist a i, .l-cart-user a i {
    color: #fff;
  }

  .l-room .l-room-description h4 {
    font-size: 3rem;
    line-height: inherit;
  }

  .l-about-choose .l-grid-2,
  .l-single .l-grid-third,
  .l-single .l-grid-3 {
    width: calc(100% / 1);
  }

  .l-single-detail {
    padding-top: 2rem;
  }

  .l-about-choose .l-row .l-grid-2 img {
    border-radius: 50px 50px 0 0;
  }

  .l-choose-detail h4 {
    padding: 3rem 3rem 0;
  }

  .l-banner button.owl-prev span {
    right: 80px;
  }

  .l-banner button.owl-next span {
    right: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .l-grid-4,
  .l-services .l-grid-2 {
    width: calc(100% / 1);
  }

  h2 {
    font-size: 2rem;
  }

  figure img {
    height: auto;
  }

  .l-room .l-room-description h4 {
    font-size: 2rem;
    line-height: inherit;
  }

  .l-footer-quicklink .l-grid-3,
  .l-dashboard .l-grid-3,
  .l-dashboard .l-grid-third {
    width: calc(100% / 1);
  }

  .l-footer-quicklink h4 {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .l-dashboard-right {
    padding: 0;
  }

  .l-order-detail {
    padding-top: 2rem;
  }

  .l-button-section .l-grid-2,
  .l-checkout .l-grid-2,
  .l-contact .l-grid-2,
  .l-create-new .l-grid-2,
  .l-login .l-grid-2,
  .l-single .l-grid-2 {
    width: calc(100% / 1);
  }

  .l-cart-total,
  .l-cart-total table {
    text-align: left;
  }

  .l-button-section .l-flex-wrap {
    display: block;
  }

  .l-button-section  .l-cart-buttons button {
    margin-bottom: 1rem;
  }

  .l-create-detail {
    width: 100%;
  }
}

@media only screen and (max-width: 615px) {
  .l-sortby {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 580px) {
    .l-room-img {
      border-radius: 20px 0 20px 0;
  }
  .l-choose-detail h4 {
    font-size: 1.5rem;
  }
  .l-cart {
    display: block;
  }

  .l-cart-wishlist {
    padding: 1rem 0;
  }

  .l-zoom-main {
    grid-template-columns: 1fr 3fr;
  }
}

@media only screen and (max-width: 480px) {
  .l-banner button.owl-prev span,
  .l-banner button.owl-next span {
    display: none;
  }  
}


  